@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



body {
    background-color: rgba(245, 245, 245, 1);
}

.btn {
    box-sizing: border-box;
    border: 1px solid rgba(0, 106, 80, 1);
    border-radius: 8px;
    padding: 15px 30px 15px 30px;
    color: rgba(0, 106, 80, 1);
    font-family: Fira Sans;
    font-style: SemiBold;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;

}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 24px 160px 24px 160px;
    gap: 48px;
    margin: 0 auto;
}

main section {
    margin-bottom: 80px;
}

.content {
    /* Frame 4 */

    border-radius: 24px;
    background: rgba(198, 228, 214, 1);
    gap: 64;
    display: flex;
    justify-content: center;
    align-items: 0 auto;
    flex-direction: row;
    background-position: center;
    padding: 80px 100px 80px 100px;
    margin: 0px 160px 0px;

}

.main-content .title {
    color: rgba(14, 14, 14, 0.5);

    font-family: Fira Sans;
    font-style: Medium;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

.main-content .sub-title {
    color: rgba(14, 14, 14, 1);
    font-family: Fira Sans;
    font-style: Bold;
    font-size: 67px;
    font-weight: 1000;
    line-height: 70px;
    letter-spacing: 2px;
}

.main-content .btn-box {
    width: 270px;
    height: 56px;
    border-radius: 8px;
    background: rgba(0, 106, 80, 1);
    padding: 17px 34px 17px 34px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-family: Fira Sans;
    font-style: SemiBold;
    font-size: 10px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
}

.piller-title {
    color: rgba(14, 14, 14, 1);
    font-family: Fira Sans;
    font-style: Bold;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 160px;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 0px 160px 0px 160px;
    gap: 50px;
}

.card-content {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
    gap: 24;
    padding: 28px;
    width: 340px;
    height: 244px;
    align-items: center;

}